.main-page h1 {
    margin: 3% 0 3% 5%;
}

.spinner {
    padding: 4rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    justify-content: space-evenly;
    top: 50%;
}
