.login-form {
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: fit-content;
    transform: translate(-50%, -50%);
}

.login-form > * {
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-form Button {
    width: 100%;
}
