.weather-card {
    padding: 1.5%;
    display: flex;
    flex-direction: column;
}

.details {
    padding: 5%;
}

.icon {
    width: 100px;
    padding: 1.5%;
    align-self: center;
}

.date {
    align-self: flex-end;
}

.loading-card {
    margin: 3em 0 0;
    padding: 0.8rem;
}

.weather-card p {
    margin: 0;
}

.weather-placeholder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.spinner {
    margin: 2em;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.nav-bar {
    background-color: skyblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-bar Button {
    margin: 0.5%;
}

.nav-bar p {
    margin: 0.5em;
    font-size: 1.5em;
    color: white;
}
